/*************************************/
/*************** BODY ****************/
body{
	background-color: #F9F9F9;
}
a, i{
	color: #492f86;
}
a:hover{
	color: #3b2471;
}
.button{
	background: #492f86;
	border: #492f86;
}
.button:hover{
	background: #3b2471;
	border: #3b2471;
}
.panel{
	border: none;
	background-color: #dedede;
}
h4{
	color: #492f86;
}
dl.tabs dd.active {
    border-top: 3px solid #492f86;
}

/*************************************/
/*********** HEADER & NAV ************/
.header{
    border-bottom: 4px solid #3e307b;
	background: #000;
    margin: 0;
}

.logo{
	text-align: center;
}

img.logo {
    margin-top: 5px;
}
li.toggle-topbar{
	max-width: 60px;
}

.top-bar ul li.toggle-topbar {
    background-color: transparent;
}
.top-bar ul li.toggle-topbar:hover {
    background-color: transparent;
}

.header .name a:hover {
    height: 40px;
}

ul.right>li:hover {
    background: none;
}

.top-bar ul>li.has-dropdown:hover>.dropdown {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
}

.top-bar ul>li.has-dropdown:hover>.dropdown li:last-child {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.top-bar ul>li.has-dropdown:hover>.dropdown li{
    background-color: black;
}
/*************************************/
/************ BILLBOARD **************/
#billboard{
	
	background: #150a28;
	background: url("../images/bg.jpg") center fixed;
	background-size: cover;
  	padding-bottom: 80px;
  	padding-top:20px;
    margin: 0 auto;
	width: 100%;
    height: 100%;
    position: relative;
   
}
.dojo{
	padding: 0;
	margin-top: 20px;
}
.dojo h2{
	text-align: center;
}
.dojo-msg{
	margin-top: 100px;
}

#dojo-msg {
	color: white;
	font-size:2.0em;
    font-family: 'Jura', sans-serif;
    -webkit-transition: opacity 1000s linear;

 -webkit-transform: scale(-0.75) translate3d(0,100%,0);
 -webkit-transition: -webkit-transform 400ms ease, opacity 400ms ease;
}
.hidden h5{ opacity: 0;}

#dojo-msg.active {
  opacity: 1.0;
  -webkit-transform: scale(-1.55) translate3d(0,0,0);
}

#dojo-msg.inactive {
  opacity: 1.0;
  -webkit-transform: scale(-1.35) translate3d(0,0,0);
}




/*************************************/
/************** MESSAGE **************/
#message{
	width: 100%;
	background: #9ea0bf;
	  
}
#message h3{
	color: #5d5e9b;
	text-align: center;
	text-shadow: 0px 2px 2px #c0badf;
	padding: 23px 0;
}



/*************************************/
/**************** MAIN ***************/
#main{
	background: #f8f8f8;
	height: 100%;
	width: 100%;
	padding: 50px 0;
}
.section1 .row{
	background: #F9F9F9;
}
.what-is{
	margin-top: 40px;
}
.what p{
	font-size: 1.2em;
}

.list li{
	font-size: 1.2em;
	list-style: none;
	padding-bottom: 8px;
}
.list i{
	font-size: 1.3em;
}

.movein {
	opacity: 0.0;
 -webkit-transform: scale(0.95) translate3d(0,100%,0);
 -webkit-transition: -webkit-transform 400ms ease, opacity 400ms ease;

}
.movein.active {
  opacity: 1.0;
  -webkit-transform: scale(1.0) translate3d(0,0,0);
}

.movein.inactive {
  opacity: 1.0;
  -webkit-transform: scale(1) translate3d(0,0,0);
}


/*************************************/
/**************** TEAM ***************/
#team{
	background: rgba(255, 255, 255, 0.69);
	padding: 50px 0;

}
#team img {
	width:40%;
}
#team img:hover {
	width:50%;

}
.get-in-touch{
	padding-top: 50px;
}


#team ul li {
    text-align:center;
}
#plax {
    background: url('../images/peopleatmeeting.jpg') center bottom fixed;
    background-size: cover;
    height: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0;
}
#plax h1 {
font-family: 'Amatic SC', cursive;
font-size: 75px;
color:white;

}
/*************************************/
/************** FOOTER **************/
#footer{
	height: 100%;
	width: 100%;
	background: #191919;
	color: #616089;
	border-top: 8px solid #3e307b;
	padding-top: 10px;
	background-image: url("../images/pattern.png");
}
#footer ul{
	list-style: none;
}
#footer a, #footer h6, #footer p, #footer i{
	color: #a3a1c7;
	font-size: 12px;
}

footer .signature, footer .signature a{
	color: #616089;
}
#footer img{
	margin-top: 20px;
}
footer, footer p{
	background: black;
	padding: 3px;
	font-size: 12px;}
	
.map	{
	width: 100%;
	height: 280px;
    	
      }
#map_canvas{}
